<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <!--här skapar vi våra services/tjänster:-->
      <!--namnnet heter alltså namespace.serviceImplementationen:-->
      <service name="WcfServiceDemo.Service1" behaviorConfiguration="myBehavior">
        <host>
          <baseAddresses>
            <!--hella servicen kommer att exponeras via denna address + endpointens address-->
            <add baseAddress="http://localhost:8733"/>
            <add baseAddress="net.tcp://localhost:8080"/>
          </baseAddresses>
        </host>
        <!--unik endpoint för webben:-->
        <endpoint address="Service1" binding="basicHttpBinding" contract="WcfServiceDemo.IService1"></endpoint>
        <!--unik endpoint för appen:-->
        <endpoint address="Service1" binding="netTcpBinding" contract="WcfServiceDemo.IService1"></endpoint>
        <!--för att kunna utbyta data med klienten och visa ovanstående endpoints så behöver vi en mexhttp-binding som kan generera en proxy till clieneter:-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <!--nu kan vi använda http-request för de tjänster som kopplas med detta behavior-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<bindings> Trick för att få rättstavning på mexHttpBinding
      <mexHttpBinding
      
    </bindings>-->
  </system.serviceModel>
</configuration>